<% is_remote ||= false %>

<div id="dialog" title="milestone">

  <%= form_for(:milestone, :url => "", :html => { :method => :put, :id => "milestone_form" }, :remote => true) do |f| %>
      <%= f.error_messages %>

    <%= f.hidden_field :project_id, :value => @project.id %>

    <div class="field">
      <%= f.label :amount %><br />
      <%= f.text_field :amount %>
    </div>

    <%= f.submit "Apply" %>

  <% end %>
</div>

