<h1>Expence details for milestone "<%= link_to @milestone.name, @milestone %>" in project "<%= link_to @milestone.project.name, project_milestone_path(@milestone.project) %>" </h1>

<h3>Interval between: (<%= @milestone.start_date %>) - (<%= @milestone.end_date %>).</h3>

  <table>
    <tr class="grey_bg">
      <th>Employee</th>
      <th>Booking date</th>
      <th>Booking hours</th>
      <th>Salary type</th>
      <th>Salary amount</th>
      <th>Month working days</th>
      <th>Cost</th>
    </tr>

    <% @details_hash[:array].each do |detail|  %>
      <tr class="centred">
        <td> <%=  detail[:employee]  %> </td>
        <td> <%=  detail[:booking].date  %> </td>
        <td> <%=  detail[:booking].hours  %> </td>
        <td> <%=  Salary.name_of_type(detail[:salary]) %> </td>
        <td class="money"> <%= two_numbers_after_point(detail[:salary].amount)  %> </td>
        <td> <%=  detail[:month_working_days] %> </td>
        <td class="money"> <%= two_numbers_after_point(detail[:cost]) %> </td>
     </tr>
    <% end %>

    <% if !@details_hash[:deals].empty? %>
      <tr class="grey_bg">
        <th>Employee</th>
        <th colspan="5">Deal description</th>
        <th width="100px">Deal cost</th>
      </tr>
    <% end %>
    <% @details_hash[:deals].each do |deal| %>
      <tr class="centred">
        <td><%= deal[:employee] %></td>
        <td colspan="5" class="deal_descrpition"><%= deal[:description] %></td>
        <td class="money"><%= two_numbers_after_point(deal[:cost]) %></td>
      </tr>
    <% end %>

    <tr>
      <td class="for_sum" colspan="5"></td>
      <td class="grey_bg" align="right"> <b>Total:</b> </td>
      <td class="grey_bg money"> <b><%= two_numbers_after_point(@details_hash[:sum]) %></b> </td>
    </tr>
  </table>

<br/>
<%= link_to "Back", :back %>

