<h1>Bill for milestone "<%= link_to @milestone.name, @milestone %>" in project "<%= link_to @milestone.project.name, project_milestone_path(@milestone.project) %>" </h1>

<h3>Interval between: (<%= @milestone.start_date %>) - (<%= @milestone.end_date %>).</h3>

  <table>
    <tr>
      <th>Employee</th>
      <th>Booking date</th>
      <th>Booking hours</th>
      <th>Activity</th>
      <th>Activity cost</th>
      <th>hours*cost</th>
    </tr>
    <tr>
      <% bill.each do |bill| %>
        <% @employee = bill[0] %>
        <% @date = bill[1] %>
        <% @activity = bill[2] %>
        <% @hours = bill[3] %>
        <% @cost = bill[4] %>
        <td> <%= @employee %>      </td>
        <td> <%= @date %>      </td>
        <td> <%= @hours %>      </td>
        <td> <%= @activity %>      </td>
        <td> <%= @cost %>      </td>
        <td> <%= @hours * @cost %> </td>
    </tr>
      <% end %>
      <td class="for_sum"></td>
      <td class="for_sum"></td>
      <td class="for_sum"></td>
      <td class="for_sum"></td>
      <td class="for_sum"></td>
      <td> <b>Sum:</b> <%= @summ %>. </td>
  </table>

<br/>
<%= link_to "Back", project_milestone_path(@milestone.project) %>
