<table>
    <tr>
    <th>#</th>
    <th>Name</th>
    <th>Email</th>
    <th>Department</th>
    <th>Projects</th>
    <th>Skills</th>
    <th>Is active</th>
  </tr>

<tr>
  <td> <%= @employee.id %> </td>   
  <td> <%= @employee.name %> </td>
  <td> <%= @employee.email %> </td>
  <td> <%= @employee.department.name %> </td>

  <% if !@employee.projects.empty? %>
  <td>
    <ul>
		  <% @employee.projects.each do |proj| %>
		  <li><%= link_to proj.name, proj %></li>
		  <% end %>
	  </ul>
  </td>
  <% else %>
  <td>
     No projects finded.
  </td>
  <% end %>
  </td>
  <td>
	  <ul>
		  <% @employee.skills.each do |skill| %>
		  <li><%= skill.name %></li>
		  <% end %>
	  </ul>
  </td>
  <td><%= activity(@employee) %></td>
</tr>

</table>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', back_to_previous_page %>
