<p id="notice"><%= notice %></p>

<table>
    <tr>
    <th>#</th>
    <th>Name</th>
    <th>Email</th>
    <th>Department</th>
    <th>Skills</th>
    <th>Is active</th>
  </tr>

<tr>

  <td>
    <%= @employee.id %>
  </td>   

  <td>
    <%= @employee.department.name %>
  </td>

  <td>
	  <ul>
		  <% @employee.skills.each do |skill| %>
		  <li><%= skill.name %></li>
		  <% end %>
	  </ul>
  </td>

  <td>
    <%= @employee.name %>
  </td>

  <td>
    <%= @employee.email %>
  </td>

  <td>
    <%= @employee.is_active %>
  </td>
</tr>
</table>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
