<div>

  <p>
    <b>Name:</b> <%= @employee.name %> ( <b>#</b> <%= @employee.id %> )
  </p>

  <p>
    <b>Email:</b> <%= @employee.email %>
  </p>

  <p>
    <b>Department:</b> <%= @employee.department.name %>
  </p>

  <p>
    <b>Projects: </b>
      <% if !@employee.projects.empty? %>
        <ul>
		      <% @employee.projects.each do |proj| %>
		      <li><%= link_to proj.name, proj %></li>
		      <% end %>
	      </ul>
      <% else %>
         No projects finded.
      <% end %>
  </p>

  <p>
    <b>Skills: </b>
   	  <ul>
		    <% @employee.skills.each do |skill| %>
		    <li><%= skill.name %></li>
		    <% end %>
	    </ul>
  </p>

  <p>
   <b>Default activity: </b><%= @employee.default_activity.name %>
  </p>

  <p><%= link_to 'Salary', employee_salary_path(@employee) %></p>

  <p>

    <b>Is active: </b><%= activity_in_text(@employee) %>
  </p>

</div>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', back_to_previous_page %>

