<p id="notice"><%= notice %></p>

<p>
  <b>Department:</b>
  <%= @employee.department.name %>
</p>

<p>
	<strong>Skills:</strong><br/>
	<ul>
		<% @employee.skills.each do |skill| %>
		<li><%= skill.name %></li>
		<% end %>
	</ul>
</p>

<p>
  <b>Name:</b>
  <%= @employee.name %>
</p>

<p>
  <b>Email:</b>
  <%= @employee.email %>
</p>

<p>
  <b>Is active:</b>
  <%= @employee.is_active %>
</p>


<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
