<p id="notice"><%= notice %></p>

<p>
  <b>Year month:</b>
  <%= @month_working_day.year_month %>
</p>

<p>
  <b>Working days:</b>
  <%= @month_working_day.working_days %>
</p>


<%= link_to 'Edit', edit_month_working_day_path(@month_working_day) %> |
<%= link_to 'Back', month_working_days_path %>
