<table>
    <tr>
    <th>#</th>
    <th>Name</th>
    <th>Employees</th>
    <th>Projects</th>
    <th>Is active</th>
  </tr>

<tr>
  <td> <%= @department.id %> </td>   
  <td> <%= @department.name %> </td>
  <td>
	 <ul> 
		  <% @department.employees.each do |emp| %>
		  <li><%= link_to emp.name, employee_path(emp) %></li>
		  <% end %>
	 <ul/>
  </td>

  <td>
	  <ul>
		  <% @department.projects.each do |proj| %>
		  <li><%= link_to proj.name, proj %></li>
		  <% end %>
	  </ul>
  </td>
  <td><%= activity(@department) %></td>
</tr>

</table>

<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', back_to_previous_page %>
