<div>

  <p>
    <b>Name:</b> <%= @department.name %> ( <b>#</b> <%= @department.id %> )
  </p>

  <p>
    <b>Employees:</b>
   	 <ul>
		    <% @department.employees.each do |emp| %>
		    <li><%= link_to emp.name, employee_path(emp) %></li>
		    <% end %>
	   </ul>
  </p>

  <p>
    <b>Projects: </b>
     <ul>
		   <% @department.projects.each do |proj| %>
		   <li><%= link_to proj.name, proj %></li>
		   <% end %>
	   </ul>
  </p>

  <p>
    <b>Is active: </b><%= activity_in_text(@department) %>
  </p>

</div>

<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', back_to_previous_page %>

