<h1>Salary on employee:</h1>
<h2><i><%= @employee.name %></i></h2>
<hr/>

<table>
  <tr colspan="4" align="center">
    <td width="50"><%= link_to '<', employee_salary_path(@employee, :year => (@date - 1.year).year) %></td>
    <td colspan="2"><%= @date.strftime('%Y') %></td>
    <td width="50"><%= link_to '>', employee_salary_path(@employee, :year => (@date + 1.year).year) %></td>
  </tr>
  <tr>
    <th>Month</th>
    <th>Type</th>
    <th>Salary</th>
    <th>Day work hours</th>
    <th>Tax amount</th>
    <th>Tax percent</th>
  </tr>
  <% @salaries.each do |sal| %>
    <tr>
      <td><%= sal[0] %></td>
      <td><%= sal[4] != 'N/A' ? Salary::SALARY_TYPE[sal[4]-1][0] : sal[4] %></td>
      <td><%= sal[1] %></td>
      <td><%= sal[2] %></td>
      <td><%= sal[5] %></td>
      <td><%= sal[6] %></td>
      <td><%= link_to 'Edit', edit_salary_path(:year => @date.strftime('%Y'), :month => sal[3], :amount => sal[1], :hours => sal[2], :type => sal[4], :tax_amount => sal[5], :tax_percent => sal[6]) %></td>
    </tr>
  <% end %>
</table>

