  <% employees.each do |employee|%>
    <tr id="e<%=employee.id %>" class="employee">
       <td>
          <% if bookable %>
             <%= link_to employee.name, employee_path(employee), :class => "employee_link" %>
             [<%= link_to "del", delete_pariticipant_path(@project.id, employee.id), :confirm => 'Are you sure?', :method => :delete %>]
          <% else %>
             <%= check_box_tag "project[employee_ids][]", employee.id, project.employees.include?(employee) %><%= employee.name %>
          <% end %>
       </td>

          <% id = 0 %>
          <% 5.times do |j|%>
            <% 7.times do |i|%>

              <% mark_date = @current_monday + id.day
              date_sql = Date.civil(mark_date.year,mark_date.month,mark_date.day) %>
              <% project_bks = booking_employees[employee.id][:project][date_sql] ||= 0 %>
              <% all_bks =  booking_employees[employee.id][:all][date_sql] ||= 0 %>
              <% id +=1 %>

              <td id="d<%= id %>" class="<%= booking_color_marking(all_bks,mark_date)%> <%= 'bookable' if bookable %>">
                <% if all_bks !=0 %>
                  <%= project_bks %>/<%= all_bks %>
                <% end %>
              </td>
            <% end %>
          <% end %>
    </tr>
  <% end %>

