  <% employees.each do |employee|%>
    <tr id="e<%=employee.id %>" class="employee">
       <td>
          <% if bookable %>
             <%= link_to employee.name, employee_path(employee), :class => "employee_link" %>
             [<%= link_to "del", delete_pariticipant_path(project.id, employee.id), :confirm => 'Are you sure?', :method => :delete %>]
          <% else %>
             <%= check_box_tag "project[employee_ids][]", employee.id, project.employees.include?(employee) %><%= employee.name %>
          <% end %>
       </td>

          <% id = 0 %>
          <% 5.times do |j|%>
            <% 7.times do |i|%>

              <% mark_date = @current_monday + id.day %>
              <% get_bookings_for_cell(booking_employees,mark_date,employee.id) %>
              <% id +=1 %>

              <td id="d<%= id %>" class="<%= booking_color_marking(@all_books,mark_date)%> <%= 'bookable' if bookable %>">
                <%= bookings_out_to_cell(@project_books, @all_books) %>
              </td>
            <% end %>
          <% end %>
    </tr>
  <% end %>

