  <% employees.each do |employee|%>
    <tr id="e<%=employee.id %>" class="employee">
       <td>
          <%= check_box_tag "project[employee_ids][]", employee.id, project.employees.include?(employee) %><%= employee.name %>
       </td>
          <% id = 0 %>
          <% 5.times do |j|%>
            <% 7.times do |i|%>
              <% mark_date = @current_monday + id.day
				 mark_date_sql = mark_date.strftime('%Y-%m-%d')
                 @date = mark_date.strftime('%d.%m.%Y') %>
              <% id +=1 %>
              <% project_bks = employee.bookings.where(:date => mark_date_sql, :project_id => @project.id).sum("hours")
                 all_bks = employee.bookings.where(:date => mark_date_sql).sum("hours") %>
              <td id="d<%= id %>" class="<%= booking_color_marking(all_bks,mark_date)%> <%= 'bookable' if bookable %>">
                <% if all_bks !=0 %>
                  <%= project_bks %>/<%= all_bks %>
                <% end %>
              </td>
            <% end %>
          <% end %>
    </tr>
  <% end %>

