<% employees.each do |employee|%>
      <tr id="<%=employee.id %>" class="employee">
          <td>
            <%= check_box_tag "project[employee_ids][]", employee.id, project.employees.include?(employee) %><%= employee.name %>
          </td>
          <% id = 0 %>
          <% 5.times do |j|%>
            <% 7.times do |i|%>
              <% id +=1 %>
              <td id="<%= id %>" class="<%='weekend' if [5,6].include?(i) %>"></td>
            <% end %>
          <% end %>
      </tr>
    <% end %>

