<%= form_for(@project) do |f| %>

	<%= f.error_messages %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
   <div class="field">
    <%= f.label  :department %><br />
    <%= f.select :department_id, @departments %>
  </div>
  <div class="field">
    <%= f.label :payment_model %><br />
    <%= f.text_field :payment_model %>
  </div>
  <div class="field">
    <%= f.label  :customer %><br />
    <%= f.select :customer_id, @customers %>
  </div>
  <div class="field">
    <%= f.label :is_active %><br />
    <%= f.check_box :is_active %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

