<h1>Add staff to project:</h1>

<%= form_tag(add_staff_path(@project.id), :method => "get") do %>
  <div class="field">
    <%= label_tag :Skills %><br />
    <%= select(:skill,:id, @skills ) %>
  </div>
  <%= submit_tag("Search by skill") %>
<% end %>


<table border="1" cellpadding="1" cellspacing="0" width = "100%">
  <tr>
    <th>Emploee</th>
    <% 5.times do %>
      <th>Mon</th>
      <th>Tue</th>
      <th>Wen</th>
      <th>Thu</th>
      <th>Fri</th>
      <th id="weekend">Sat</th>
      <th id="weekend">Sun</th>
    <% end %>
  </tr>

  <% if @finded_employees %>
    <% @finded_employees.each do |employee|%>
      <tr>
          <td>
            <%= check_box_tag "project[employee_ids][]", employee.id, \
            @project.employees.include?(employee) %><%= employee.name %>
          </td>
          <% 5.times do |j|%>
            <% 7.times do |i|%>
              <td id="<%='weekend' if [5,6].include?(i) %>"></td>
            <% end %>
          <% end %>
      </tr>
    <% end %>
  <% end %>

  <tr>
    <th id="divider" colspan="36"></td>
  </tr>

  <% @others_employees.each do |employee|%>
    <tr>
        <td>
          <%= check_box_tag "project[employee_ids][]", employee.id, \
          @project.employees.include?(employee) %><%= employee.name %>
        </td>
        <% 5.times do |j|%>
          <% 7.times do |i|%>
            <td id="<%='weekend' if [5,6].include?(i) %>"></td>
          <% end %>
        <% end %>
    </tr>
  <% end %>
</table>

