<h1>Add staff to project:</h1>
<br />

<% content_for :add_staff_js do %>
  <%= javascript_include_tag "add_staff.js" %>
<% end %>

<div id="search_by_skill">
<%= form_tag(add_staff_path(@project.id), :method => "get", :id => 'form_search_by_skill') do %>
  <div class="field" align="right">
    <b style="font-size:1.2em"><%= label_tag :Searching_by_skills %>:</b><br />
    <%= select(:skill,:id, @skills, :selected => params[:skill] ? params[:skill][:id] : "", :include_blank => 'All' ) %>
    <%#= submit_tag("Search!") %>
  </div>
<% end %>
</div>
<br />

<%= render :partial => "projects/calendar_controls", :locals => {:main_object => @project, :route_name => "add_staff", :current_monday => @current_monday, :options => {:skill => params[:skill]}} %>

<%= form_tag(save_staffing_path(@project.id, :day => params[:day],  :month => params[:month], :year => params[:year]), :method => "post") do %>

    <%= render :partial => "calendar_header", :locals => {:current_monday => @current_monday} %>

    <%= render :partial => "bookings", :locals => {:employees => @current_dep_employees, :project => @project, :bookable => false, :booking_employees => @booking_current} %>


    <tr>
      <th id="divider" colspan="36" align="left">Others</th>
    </tr>

    <%= render :partial => "bookings", :locals => {:employees => @others_employees, :project => @project, :bookable => false, :booking_employees => @booking_others} %>

  </table>

  <%= submit_tag("Add selected") %>
<% end %>

<p>
  <%= link_to 'Back to staffing', staffing_path(@project, :day => @current_monday.day,  :month => @current_monday.month, :year => @current_monday.year, :skill =>params[:skill]) %>
</p>

