<h1>Add staff to project:</h1>
<br />

<div id="search_by_skill">
<%= form_tag(add_staff_path(@project.id), :method => "get") do %>
  <div class="field" align="right">
    <b style="font-size:1.2em"><%= label_tag :Searching_by_skills %>:</b><br />
    <%= select(:skill,:id, @skills, :selected => params[:skill][:id]) %>
    <%= submit_tag("Search!") %>
  </div>
<% end %>
</div>
<br />

<%= form_tag(save_staffing_path(@project.id), :method => "post") do %>
  <table border="1" cellpadding="1" cellspacing="0" width = "100%">
    <tr>
      <th>Employee</th>
      <% 5.times do %>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wen</th>
        <th>Thu</th>
        <th>Fri</th>
        <th id="weekend">Sat</th>
        <th id="weekend">Sun</th>
      <% end %>
    </tr>

    <% if @finded_employees %>
      <%= render :partial => "employees", :locals => {:employees => @finded_employees, \
      :project => @project} %>
    <% end %>

    <tr>
      <th id="divider" colspan="36" align="left">Others</th>
    </tr>

    <%= render :partial => "employees", :locals => {:employees => @others_employees, \
    :project => @project} %>

  </table>

  <%= submit_tag("Add selected") %>
<% end %>

<p>
  <%= link_to 'Back to staffing', staffing_path(@project) %>
</p>

