<%= content_for :amount_js do %>
  <%= javascript_include_tag "amount.js" %>
<% end %>

<h1>Listing milestones (project "<%= link_to @project.name, project_path(@project) %>")</h1>

<h3><%= link_to 'New Milestone', new_milestone_path(@project.id) %></h3>

<table>
    <tr>
      <th>Name</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Invoice name</th>
      <th>Income</th>
      <th>Expence</th>
      <th>Profit</th>
    </tr>

  <% @project.milestones.each do |milestone| %>
    <tr>
        <td><%= milestone.name %></td>
        <td><%= milestone.start_date %></td>
        <td><%= milestone.end_date %></td>
        <td><%= milestone.invoice_name %></td>
          <% if @project.payment_model == "1" %>
            <% if milestone.by_time_amount != "N/A" %>
              <td class="money"><%= link_to two_numbers_after_point(milestone.by_time_amount), milestone_bill_path(milestone) %></td>
             <% else %>
              <td><%= milestone.by_time_amount %></td>
            <% end %>
            <% income = milestone.by_time_amount %>
          <% else %>
            <td class="amo money" id="m<%= milestone.id %>"><%= two_numbers_after_point(milestone.amount) %></td>
            <% income = milestone.amount %>
          <% end %>
        </td>
       <td class="money">
        <% expence = milestone.expence %>
        <% if expence.instance_of?(Array) %>
          Please set up: <br>
          <% expence.each do |please_set_up| %>
            <%= please_set_up %><br/>
          <% end %>
        <% else %>
          <%= link_to two_numbers_after_point(expence), expence_details_path(milestone) %>
        <% end %>
      </td>

        <% if expence.instance_of? Float %>
           <% profit = income.to_f - expence %>
           <td id="p<%= milestone.id %>" class="money <%= profit <= 0 ? 'red_bg' : '' %>"><%= two_numbers_after_point(profit) %></td>
         <% else %>
            <td>N/A</td>
         <% end %>
        <td><%= link_to 'Deals', milestone_deals_path(milestone)%></td>
        <td><%= link_to 'Edit', edit_milestone_path(@project.id,milestone)%></td>
        <td><%= link_to 'X', delete_milestone_path(milestone.project_id, milestone.id), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<br />

<%= render :partial => "milestones/amount" %>

<%= link_to "Back", projects_path %>

