<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Department:</b>
  "<%= @project.department.name %>"
</p>

<p>
  <b>Payment model:</b>
  <%= Project::PAYMENT_MODEL[@project.payment_model.to_i-0][0] %>
</p>

  <b>Is active:</b>
  <%= activity(@project) %>

<p>
  <b>Customer:</b>
  "<%= @project.customer.name %>"
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>

