<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Department:</b>
  <%= link_to @department.name, @department %>
</p>

<p>
  <b>Payment model:</b>
  <%= Project::PAYMENT_MODEL[@project.payment_model.to_i-0][0] %>
</p>

  <b>Is active:</b>
  <%= activity_in_text(@project) %>

<p>
  <b>Customer:</b>
  <%= link_to @customer.name, @customer %>
</p>



<p>
  <b>Participants:</b>
  <% @participants.each do |participant| %>
   <%= link_to participant.name, participant %>
  <% end %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>

