<h1>Project staffing</h1>

<table border="1" cellpadding="1" cellspacing="0" width = "100%">
  <tr>
    <th>Emploee</th>
    <% 5.times do %>
      <th>Mon</th>
      <th>Tue</th>
      <th>Wen</th>
      <th>Thu</th>
      <th>Fri</th>
      <th id="weekend">Sat</th>
      <th id="weekend">Sun</th>
    <% end %>
  </tr>
  <% @participants.each do |employee|%>
    <tr>
        <td>
          <%= link_to employee.name, employee_path(employee) %> | <%= link_to "del", \
          delete_pariticipant_path(@project.id, employee.id), :confirm => 'Are you sure?', \
          :method => :delete %>
        </td>
        <% 5.times do |j|%>
          <% 7.times do |i|%>
             <td id="<%='weekend' if [5,6].include?(i) %>"></td>
          <% end %>
        <% end %>
    </tr>
  <% end %>
</table>
<p>
  <%= form_tag(add_staff_path(@project.id), :method => "get") do %>
    <%= submit_tag("Add staff") %>
  <% end %>
</p>
<hr/>

