<h1>Project "<%= link_to "#{@project.name}", project_path(@project) %>" staffing</h1>

<% content_for :booking_js do %>
  <%= javascript_include_tag "booking.js" %>
<% end %>

<div id="redbox">
  <div class="modal_box shadow">
    <%= form_for(:booking, :url => bookings_path, :html => { :method => :post }, :remote => true ) do |f| %>

	    <%= f.error_messages %>

      <div class="field">
        <%= f.hidden_field :project_id, :value => @project.id %>
      </div>

      <div class="field">
        <%= f.hidden_field :employee_id %>
      </div>
      <div class="modal_label padded"><b>Create booking on</b></div>
      <div id ="employee_name" class="modal_input padded"></div>
      <div id ="current_date" class="modal_input padded"></div>

      <div class="field modal_input">
        <%= f.label :end_date %>
        <%= f.text_field :end_date, :size=>10 %>
      </div>

      <div class="field modal_input">
        <%= f.label :hours %>
        <%= f.text_field :hours, :size=>2 %>
        per day
      </div>

      <div class="field">
        <%= f.hidden_field :date_1i, :name => "booking[date(1i)]" %>
      </div>

      <div class="field">
        <%= f.hidden_field :date_2i, :name => "booking[date(2i)]" %>
      </div>

      <div class="field">
        <%= f.hidden_field :date_3i, :name => "booking[date(3i)]" %>
      </div>

      <div class="actions clear_left">
        <%= f.submit "Ok" %>
      </div>


    <% end %>
    <p><a href="#" onclick="RedBox.close(); return false;">Close</a></p>
  </div>
</div>

<table border="0" cellpadding="1" cellspacing="0">
  <tr id="calendar_controls">
    <td><%= link_to '<<', staffing_path(@project, :offset => "prev_month",:day => @current_monday.day,  :month => @current_monday.month, :year => @current_monday.year) %></td>
    <td><%= link_to '<', staffing_path(@project, :offset => "prev_week",:day => @current_monday.day, :month => @current_monday.month, :year => @current_monday.year) %></td>
    <td id="month"><%= @current_monday.strftime('%B %Y') %></td>
    <td><%= link_to '>', staffing_path(@project, :offset => "next_week",:day => @current_monday.day, :month => @current_monday.month, :year => @current_monday.year) %></td>
    <td><%= link_to '>>', staffing_path(@project, :offset => "next_month",:day => @current_monday.day, :month => @current_monday.month, :year => @current_monday.year) %></td>
  </tr>
</table>

<table border="1" cellpadding="1" cellspacing="0" width = "100%">
  <tr id= "date">
    <th>Date</th>
    <% 35.times do |days| %>
      <% @date = @current_monday + days.day %>
      <%
         if @current_date.midnight == @date
           @current_day_id = days
         end
      %>
      <th id="d<%= days + 1 %>" class="<%= @date.strftime('%d%m%Y')%>">
        <div id="day"><%= @date.day %></div>
        <div id="month"><%= @date.strftime("%m") %></div>
        <div id="year"><%= @date.year %></div>
      </th>
    <% end %>
  </tr>
  <tr id= "day">
    <th>Day</th>
    <% 35.times do |days| %>
      <th id="d<%= days + 1 %>" class="<%='current_day' if @current_day_id == days %>"><%= ( @current_monday + days.day).day%></th>
    <% end %>
  </tr>
  <tr>
    <th>Employee</th>
    <% 5.times do %>
      <th>Mo</th>
      <th>Tu</th>
      <th>We</th>
      <th>Th</th>
      <th>Fr</th>
      <th class="weekend">Sa</th>
      <th class="weekend">Su</th>
    <% end %>
  </tr>

  <%= render :partial => "bookings", :locals => {:employees => @participants, :project => @project, :bookable => true, :booking_employees => @booking_employees} %>
<!--
  <% @participants.each do |employee|%>
    <tr id="e<%=employee.id %>" class="employee">
        <td>
          <%= link_to employee.name, employee_path(employee), :class => "employee_link" %>
         [<%= link_to "del", delete_pariticipant_path(@project.id, employee.id), :confirm => 'Are you sure?', :method => :delete %>]
        </td>
        <%# this_bookings = @booking_employees[employee.id] %>
          <% id = 0 %>
          <% 5.times do |j|%>
            <% 7.times do |i|%>
              <% mark_date = @current_monday + id.day
				 mark_date_sql = mark_date.strftime('%Y-%m-%d')
                 @date = mark_date.strftime('%d.%m.%Y') %>

              <% id +=1 %>
              <% project_bks = employee.bookings.where(:date => mark_date_sql, :project_id => @project.id).sum("hours")
                 all_bks = employee.bookings.where(:date => mark_date_sql).sum("hours") %>

              <td id="d<%= id %>" class="<%= booking_color_marking(all_bks,mark_date)%> bookable">
                <%# if this_bookings and this_bookings[@date] %>
                  <%#= this_bookings[@date][0] %> <%#= this_bookings[@date][1] %>
                <%# end %>
                <% if all_bks !=0 %>
                  <%= project_bks %>/<%= all_bks %>
                <% end %>
              </td>
            <% end %>
          <% end %>
    </tr>
  <% end %> !-->
</table>
<p>
  <%= form_tag(add_staff_path(@project.id), :method => "get") do %>
    <%= submit_tag("Add staff") %>
  <% end %>
</p>
<hr/>
<p><%= link_to 'Back', projects_path %>

