<h1>Project "<%= link_to "#{@project.name}", project_path(@project) %>" staffing</h1>

<% content_for :booking_js do %>
  <%= javascript_include_tag "booking.js" %>
<% end %>

<div id="redbox">
  <div class="modal_box shadow">
    <%= form_for(:booking, :url => bookings_path, :html => { :method => :post }, :remote => true ) do |f| %>

	    <%= f.error_messages %>

      <div class="field">
        <%= f.hidden_field :project_id, :value => @project.id %>
      </div>

      <div class="field">
        <%= f.hidden_field :employee_id %>
      </div>
      <div class="modal_label padded"><b>Create booking on</b></div>
      <div id ="employee_name" class="modal_input padded"></div>
      <div id ="current_date" class="modal_input padded"></div>

      <div class="field modal_input padded">
        <%= f.select :activity_id, @activities %>
      </div>

      <div class="field modal_input">
        <%= f.label :end_date %>
        <%= f.text_field :end_date, :size=>10 %>
      </div>

      <div class="field modal_input">
        <%= f.label :hours %>
        <%= f.text_field :hours, :size=>2 %>
        per day
      </div>

      <div class="field">
        <%= f.hidden_field :date_1i, :name => "booking[date(1i)]" %>
      </div>

      <div class="field">
        <%= f.hidden_field :date_2i, :name => "booking[date(2i)]" %>
      </div>

      <div class="field">
        <%= f.hidden_field :date_3i, :name => "booking[date(3i)]" %>
      </div>
      
      <div class="actions clear_left">
        <%= f.submit "Ok" %>
      </div>


    <% end %>
    <p><a href="#" onclick="RedBox.close(); return false;">Close</a></p>
  </div>
</div>

<%= render :partial => "projects/calendar_controls", :locals => {:main_object => @project, :route_name => "staffing", :current_monday => @current_monday} %>

  <%= render :partial => "calendar_header", :locals => {:current_monday => @current_monday} %>

  <%= render :partial => "bookings", :locals => {:employees => @participants, :project => @project, :bookable => true, :booking_employees => @booking_employees} %>

</table>
<p>
  <%= form_tag(add_staff_path(@project.id, :day => @current_monday.day,  :month => @current_monday.month, :year => @current_monday.year), :method => "get") do %>
    <%= hidden_field_tag :day, @current_monday.day %>
    <%= hidden_field_tag :month, @current_monday.month %>
    <%= hidden_field_tag :year, @current_monday.year %>
    <%= submit_tag("Add staff") %>
  <% end %>
</p>
<hr/>
<p><%= link_to 'Back', projects_path %>

