<h1>Project "<%= link_to "#{@project.name}", project_path(@project) %>" staffing</h1>

<p id="test">TESTING</p>

<hr/>
<%= link_to_redbox 'redtest', 'redbox' %>


<div id="redbox" style="display: none">
<%= form_for(:booking) do |f| %>

	<%= f.error_messages %>

  <div class="field">
    <%= f.label :project_id %><br />
    <%= f.text_field :project_id %>
  </div>
  <div class="field">
    <%= f.label :employee_id %><br />
    <%= f.text_field :employee_id %>
  </div>
  <div class="field">
    <%= f.label :activity_id %><br />
    <%= f.text_field :activity_id %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :hours %><br />
    <%= f.text_field :hours %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

  <a href="#" onclick="RedBox.close(); return false;">Close</a>
</div>

<hr/>

<table border="0" cellpadding="1" cellspacing="0" align="center">
  <tr>
    <td>Month:</td>
    <td id="month"><%= @current_date.month %></td>
    <td>Year:</td>
    <td id="year"><%= @current_date.year %></td>
  </tr>
</table>

<table border="1" cellpadding="1" cellspacing="0" width = "100%">
  <tr id= "date">
    <th>Date</th>
    <% 35.times do |days| %>
      <% @date = @current_date.monday + days.day %>
      <%
         if @current_date.midnight == @date
           @current_day_id = days
         end
      %>
      <th id="<%= days + 1 %>"><%= @current_date.monday + days.day%></th>
    <% end %>
  </tr>
  <tr id= "day">
    <th>Day</th>
    <% 35.times do |days| %>
      <th id="<%= days + 1 %>" class="<%='current_day' if @current_day_id == days %>"><%= (@current_date.monday + days.day).day%></th>
    <% end %>
  </tr>
  <tr>
    <th>Employee</th>
    <% 5.times do %>
      <th>Mon</th>
      <th>Tue</th>
      <th>Wen</th>
      <th>Thu</th>
      <th>Fri</th>
      <th class="weekend">Sat</th>
      <th class="weekend">Sun</th>
    <% end %>
  </tr>
  <% @participants.each do |employee|%>
    <tr id="<%=employee.id %>" class="employee">
        <td>
          <%= link_to employee.name, employee_path(employee) %>
         [<%= link_to "del", delete_pariticipant_path(@project.id, employee.id), :confirm => 'Are you sure?', :method => :delete %>]
        </td>
          <% id = 0 %>
          <% 5.times do |j|%>
            <% 7.times do |i|%>
              <% id +=1 %>
              <td id="<%= id %>" class="<%='weekend' if [5,6].include?(i) %> bookable"></td>
            <% end %>
          <% end %>
    </tr>
  <% end %>
</table>
<p>
  <%= form_tag(add_staff_path(@project.id), :method => "get") do %>
    <%= submit_tag("Add staff") %>
  <% end %>
</p>
<hr/>
<p><%= link_to 'Back', projects_path %>

