<h1>Listing deals</h1>

<table>
  <tr>
    <th>Employee</th>
    <th>Milestone</th>
    <th>Description</th>
    <th>Cost</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @deals.each do |deal| %>
  <tr>
    <td><%= deal.employee_id %></td>
    <td><%= deal.milestone_id %></td>
    <td><%= deal.description %></td>
    <td><%= deal.cost %></td>
    <td><%= link_to 'Show', deal %></td>
    <td><%= link_to 'Edit', edit_deal_path(deal) %></td>
    <td><%= link_to 'Destroy', deal, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Deal', new_deal_path %>
