<h1>Report: Employees bookings</h1>

<table border="0" cellpadding="1" cellspacing="0">
  <tr id="calendar_controls">
    <td><%= link_to '<<', report_employees_bookings_path(@project, :offset => "prev_month",:day => @current_monday.day,  :month => @current_monday.month, :year => @current_monday.year, :skill =>params[:skill]) %></td>
    <td><%= link_to '<', report_employees_bookings_path(@project, :offset => "prev_week",:day => @current_monday.day, :month => @current_monday.month, :year => @current_monday.year, :skill =>params[:skill]) %></td>
    <td id="month"><%= @current_monday.strftime('%B %Y') %></td>
    <td><%= link_to '>', report_employees_bookings_path(@project, :offset => "next_week",:day => @current_monday.day, :month => @current_monday.month, :year => @current_monday.year, :skill =>params[:skill]) %></td>
    <td><%= link_to '>>', report_employees_bookings_path(@project, :offset => "next_month",:day => @current_monday.day, :month => @current_monday.month, :year => @current_monday.year, :skill =>params[:skill]) %></td>
  </tr>
</table>

    <%= render :partial => "projects/calendar_header", :locals => {:current_monday => @current_monday} %>

    <%= render :partial => "rep_employees", :locals => {:employees => @employees, :booking_employees => @bookings} %>

  </table>

